# Python
__pycache__/
*.py[cod]
*.class
.venv/
env/
venv/

# PyInstaller / Build Artifacts
build/
dist/
_internal/
*.spec
*.lnk
!server.exe

# Temporary and local backup files
_fix_vbs.py
*.bak
*.gz
runtime/
data/backups/
data/fix_annotations__.txt
data/server_config.js
data/server_config.json
data/sharepoint_config.json
